$col-I: #76070b;  /*herry*/
$col-II: #d5962a; /*ellow*/
$col-III: #fff;   /*wihte*/
$col-IV: #e8e9ec; /*l-grey*/
$col-pop: rgba(28, 1, 1, 0.5);/*bg*/

$mob: max-width 480px;
$pad: 480px 768px;
$pc: 768px;

$mp: max-width 768px;
$spI: 480px 1240px;